* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

section {
  margin-top: 3rem;
}

ul {
  padding: 0;
}

.flex {
  display: flex;
}

.three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: auto;
  max-height: 300px;
  width: 600px;
}

.scrollable {
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  border-radius: 4px 0 4px 0;
  color: #3b3c3e;
  font-size: 12px;
  font-weight: bold;
  left: -1px;
  padding: 10px 7px 5px;
}

#button-ingredients {
  background-color: #3282f7;
}

#button-appliance {
  background-color: #68d9a4;
}

#button-ustensils {
  background-color: #ed6454;
}

.container img {
  height: auto;
}

.logo {
  padding-top: 2rem;
  height: auto;
  width: 300px;
}

#icon {
  width: 20px;
}

.searchbox-container {
  margin: auto;
  position: relative;
  border: 4px solid #e7e7e7;
  border-radius: 25px;
  height: 4rem;
  background-color: #e7e7e7;
  padding: 0 2rem;
}

.elements-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  height: 100%;
}

.elements-container input {
  background-color: #e7e7e7;
}

#search-recipe {
  height: 100%;
  width: 100%;
  border: none;
}

#search-recipe:focus {
  outline: none;
}

.dropdown-buttons {
  display: flex;
  gap: 1rem;
}

.dropdown-menu.show {
  display: grid;
}

.dropdown-menu div {
  cursor: pointer;
  color: white;
}

.dropdown-menu div:hover {
  background-color: grey;
}

.btn {
  width: 150px;
  padding: 1rem 1rem;
  border-radius: 5px;
}

.btn::placeholder {
  color: white;
}

.big-btn {
  width: 600px;
}

.ingredient-list {
  background-color: #3282f7;
}

.appliance-list {
  background-color: #68d9a4;
}

.ustensils-list {
  background-color: #ed6454;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.card-body {
  background-color: #e7e7e7;
}

.card .card-picture {
  height: 200px;
}

.card-recipe {
  font-weight: bold;
  font-size: 18px;
}

.card-info {
  padding-top: 0.5rem;
  font-size: 12px;
}

.card-recipe,
.card-info {
  gap: 1rem;
  justify-content: space-between;
}

.card-ingredients,
.card-description {
  flex: 25%;
}

.card-description {
  text-overflow: ellipsis;
}
